<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Canada Learning Code</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js"></script>
    <script src="/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    -function prettyDate(dateString){
        //if it's already a date object and not a string you don't need this line:
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return ' '+d+' '+m+' '+y;
    -}
    div(id='mainContentWrapper')
      div(id='actionBar', class='actionBar')
        div(id='actionBarIdentifier')
          span(id='username' style="margin-left: 20px;") Admin User
        div(class='user-action-wrapper')
          span(class='user-action' id='profileAction') <i class="fas fa-user"></i> USERS
        div(class='user-action-wrapper user-action-active')
          span(class='user-action' id='eventAction') <i class="far fa-calendar-alt"></i> EVENTS
        div(class='user-action-wrapper')
          span(class='user-action' id='materialAction') <i class="fas fa-book"></i> MATERIAL
        div(class='user-action-wrapper')
          span(class='user-action' id='networkAction') <i class="fab fa-hubspot"></i> CHANGE LOGS
      div(id='mainContent')
        div(class='container-fluid')
          div(class='row top-spacer')
          div(class='row')
            div(class='col col-lg-10 offset-lg-1')
              h4 Events
          .row
            div(class='col col-lg-10 offset-lg-1')
              button(class='btn btn-primary') Add Event
          div(class='row')
            div(class='col col-lg-10 offset-lg-1')
              div(class='row')
                if events!=null && events.length > 0
                  each event in events
                    div(class='col col-lg-4')
                      div(class='card')
                        div(class='card-body')
                          h5(class='card-title')
                            span(class="d-block")=event.name
                            span(class="d-block red")=event.type
                          div(class='card-text')
                            span(class="d-block")=prettyDate(event.startDate)+prettyDate(event.endDate)
                            span(class="d-block")=event.location
                            span(class="d-block red")=event.status
                          button(class='btn float-left') <i class="fas fa-chart-bar"></i>
                          button(class='btn float-right') <i class="fas fa-pencil-alt"></i>
          div(class='row')
    </body>
</html>
      
