-function prettyDate(dateString){
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return ' '+d+' '+m+' '+y;
-}
div(id='mainContentWrapper')
  <div id="logoRight"><img src="/img/clc-logo-1.svg" alt="canada learning code logo"></div>
  div(id='actionBar', class='actionBar')
    div(id='actionBarIdentifier')
      span(class='avatar')
        <i class="far fa-meh-blank"></i>
      span(id='username')= currentUser.fullname 
    div(class='user-action-wrapper')
      span(class='user-action' id='profileAction') <i class="fas fa-user"></i> PROFILE
    div(class='user-action-wrapper user-action-active')
      span(class='user-action' id='eventAction') <i class="far fa-calendar-alt"></i> EVENTS
    div(class='user-action-wrapper')
      span(class='user-action' id='materialAction') <i class="fas fa-book"></i> MATERIAL
    div(class='user-action-wrapper')
      span(class='user-action' id='networkAction') <i class="fab fa-hubspot"></i> NETWORK
  div(id='mainContent')
    div(class='container-fluid')
      div(class='row top-spacer')
      div(class='row')
        div(class='col col-lg-10 offset-lg-1')
          h4 Events
      div(class='row')
        if currentUser.complete
          div(class='col col-lg-10 offset-lg-1')
            .row
              span Based on your profile, you may be interested in the following events:
            div(class='row')
              //- change to actullay logic
              div(class='col col-lg-4')
                div(class='card')
                  div(class='card-body')
                    h5(class='card-title')
                      span(class="d-block") Digital Skills for Beginners
                      span(class="d-block red") Ladies Learn Coding
                    div(class='card-text')
                      span(class="d-block") 2018-10-11 2018-10-11
                      span(class="d-block") Toronto
        if !currentUser.complete
          div(class='col col-lg-10 offset-lg-1')
            .row
              span Complete your <a href="#">profile</a> to get recommendation list tailored to suit your needs. 
      <br/><br/><br/>
      div(class='row')
        div(class='col col-lg-10 offset-lg-1')
          .row
            .col
              span Explore the events:
              button(class='btn btn-primary float-right') <i class="fas fa-filter"></i>
      div(class='row')
        div(class='col col-lg-10 offset-lg-1')
          div(class='row')
              each event in events
                div(class='col col-lg-4')
                  div(class='card')
                    div(class='card-body')
                      h5(class='card-title')
                        span(class="d-block")=event.name
                        span(class="d-block red")=event.type
                      div(class='card-text')
                        span(class="d-block")=prettyDate(event.startDate)+prettyDate(event.endDate)
                        span(class="d-block")=event.location
      div(class='row')
      
